<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <% include partials/head %>
    <!-- <title>Passport with Sequelize</title> -->

    <script src="/socket.io/socket.io.js"></script>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
        var socket = io();
        function sendFunction(x) {
            var aliasString = '<%= x.alias %>';
            var messageString = $('#new-message').val();
            var combinedString = aliasString + " : " + messageString;
            socket.emit('new message', combinedString);
            $('#new-message').val('');
        }
        socket.on('chat message', function (msg) {
            ($('#messages-area')).append($('<li>').text(msg));
        });
    </script>
    <style>
        /* table, th, td {
            border: 1px solid black;
        } */
        #messages-area li:nth-child(odd) {
            background: #eee;
        }
        #leaderboard-info{
            width: 300px;
            height: 520px;
            border: 1px solid blue;
            box-sizing: border-box;
        }
        #messages-area {
            width: 300px;
            height: 520px;
            border: 1px solid blue;
            box-sizing: border-box;
            overflow-y: scroll;
        }
        #info {
            width: 300px;
            height: 520px;
            border: 1px solid blue;
            box-sizing: border-box;
        }
        .panel-heading {
            width: 300px;
            color: #FFFFFF;
            background-color: #4345b6;
            border-color: #000000;
        }
    </style>

<body>

<div class="container-fluid">
    <h1>Dashboard
        <a href="logout">
            <button type="button" class="btn btn-default" style="float: right;">Logout</button>
        </a><br><br>
    </h1>

    <div class="row">
        <div class="col-md-3">
            <div class="panel-heading">Leaderboard:
    </div>

            <!-- <p id="leaderboard-info"> -->

                <div style="width:300px; height: 520px; border: 1px solid blue;">

                    <table style="width:100%">

                        <tr>
                            <th><b> Alias</b> </th>
                            <th align="right"><b> Score</b> </th>
                        </tr>

                        <% for (var i = 0; i < leaders.length ; i++) { %>
                            <tr>
                                <td><%= leaders[i]["alias"] %></td>
                                <td ><%= leaders[i]["score"] %></td>
                            </tr>
                        <% } %>
                    </table>
    </div>
            <!-- </p> -->
        </div>

        <div class="col-md-3">
            <div class="panel-heading">Join Game:</div>
            <p id="info">
                <br>

                <b>&nbsp Create New Game:</b>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#create"
                        style="float: right;">
                    Create
                </button>

                <br>
                <br>

                <b>&nbsp Join an Existing Game:</b>

                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#join"
                        style="float: right;">
                    Join
                </button>

            </p>
        </div>

        <div class="col-md-3">
            <div class="panel-heading">How to Play?</div>
            <p id="info">
                COP and Robber is a 2 player game. The robber has to rob the bank and then head to exit.
                When he exists after robbing the bank, he wins and score increases in the user profile.
                However, the COP has to catch the robber before he reaches the exit. 
                There are powerups on the map that both players can use. eg. Extra move, gun etc.
                Each player gets a turn and he can move only 5 steps each move(gets an extra sixth move if he has the extra move powerup).
                Player can see the other player's position only after the move has been completed.
                Score is calculated according to the number of games won by the particular user.
            </p>
        </div>

        <div class="col-md-3">

            <div class="panel-heading">Chats:</div>

            <ul id="messages-area"></ul>

            <form id="form" onsubmit="return false;">
                <input id="new-message" placeholder="Enter message" type="text"/>
                <button onclick="sendFunction(<% x %>)">Send</button>

            </form>

        </div>

    </div>

</div>

<!-- Create Modal -->
<div class="modal fade" id="create" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Game</h4>
            </div>

            <form method="post" action="createNewGame">

                <div class="modal-body">

                    <div>
                        <h3> Select Role: </h3>
                        <div>
                            <label><input type="radio" name="playerRole" value="1">&nbsp COP</label>
                        </div>
                        <div>
                            <label><input type="radio" name="playerRole" value="2">&nbsp Robber</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" name="submit" value="Submit"/>
                    Create </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Close
                    </button>
                </div>

            </form>
        </div>

    </div>
</div>

<!-- Join Modal -->
<div class="modal fade" id="join" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Join an Existing Game</h4>
            </div>


            <form method="post" action="joinGame">
                
                <div class="modal-body">
                
                    <div>
                        <h3> Select Game: </h3>
                        
                        
                        <% for (var i = 0; i < lists.length ; i++) { %>
                            
                            <div>
                                <label><input type="radio" name="joinGame" id="joinedGame" value=<%= lists[i]["id"] %>> <%= lists[i]["id"] %></label>
                            </div>
                        <% } %>

                    </div>
                
                </div>
                <div class="modal-footer">
                
                    <button class="btn btn-primary" name="submit" value="Submit"/>
                        Join </button>
                
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Close
                    </button>
                </div>
                
            </form>

        </div>

    </div>
</div>

</body>

</html>